name: network.yml
on:
  push:
#    branches:
#      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          role-to-assume: arn:aws:iam::605009361452:role/GitHubActionsOIDCRole
          aws-region: us-east-1
          role-session-name: gha-${{ github.run_id }}
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.2
